.form {
    display: flex;
    max-width: 912px;
    width: 100%;
    padding: 0;
    margin-right: 20px;
}

.search {
    width: 100%;
    padding: 9px 16px;
    background-color: #F2F2F2;
    border-radius: 4px;
    margin-right: 16px;
    color: #828282;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
}
